name: Integration Tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      pre-run-script: tests/integration/pre_run.sh
      modules: '["discourse", "init"]'
  self-tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Prepare for action to run
        run: |
          # Create metadata.yaml file
          echo "name: $(echo ${{ github.repository }} | sed 's:.*/::')-test" > metadata.yaml
          # Create documentation index file
          mkdir docs
          # need some values in the content that change on every commit as discourse looks for file
          # similarity
          echo -e "# Charm Upload Automation Test Index Title some uuid: $(uuidgen)\n" \
            "placeholder index content for testing, " \
            "repository: ${{ github.repository }}, " \
            "branch: ${{ github.head_ref }}, " \
            "commit sha: ${{ github.sha }}, " \
            "some uuid: $(uuidgen)" \
            > docs/index.md
          echo -e "# Charm Upload Automation Test Documentation Title some uuid: $(uuidgen)\n" \
            "placeholder documentation content for testing, " \
            "repository: ${{ github.repository }}, " \
            "branch: ${{ github.head_ref }}, " \
            "commit sha: ${{ github.sha }}, " \
            "some uuid: $(uuidgen)" \
            > docs/doc.md
          echo -e "# Charm Upload Automation Test Documentation Alternate Title some uuid: $(uuidgen)\n" \
            "placeholder documentation alternate content for testing, " \
            "repository: ${{ github.repository }}, " \
            "branch: ${{ github.head_ref }}, " \
            "commit sha: ${{ github.sha }}, " \
            "some uuid: $(uuidgen)" \
            > docs/alternate_doc.md
      - name: Draft self test
        id: selfTestDraft
        uses: ./
        with:
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
          dry_run: true
      - name: Show pages
        run: echo '${{ steps.selfTestDraft.outputs.urls_with_actions }}'
      - name: Check draft
        run: |
          sudo apt update && sudo apt install python3-pip
          pip3 install -r requirements.txt
          ./discourse_check_cleanup.py --action check-draft --action-kwargs "{'expected_url_result': '[]'}" '${{ steps.selfTestDraft.outputs.urls_with_actions }}' '${{ steps.selfTestDraft.outputs.discourse_config }}'
      - name: Create self test
        id: selfTestCreate
        uses: ./
        with:
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
      - name: Show pages
        run: echo '${{ steps.selfTestCreate.outputs.urls_with_actions }}'
      - name: Check create
        run: |
          ./discourse_check_cleanup.py --action check-create --action-kwargs "{'expected_url_result': ['success', 'success', 'success']}" '${{ steps.selfTestCreate.outputs.urls_with_actions }}' '${{ steps.selfTestCreate.outputs.discourse_config }}'
      - name: Add docs key to metadata
        run: |
          echo "docs: ${{ steps.selfTestCreate.outputs.index_url }}" >> metadata.yaml
          cat metadata.yaml
      - name: Delete the alternate doc with delete_topics disabled
        run: rm docs/alternate_doc.md
      - name: Delete topics disabled self test
        id: selfTestDeleteTopics
        uses: ./
        with:
          delete_topics: false
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
      - name: Show pages
        run: echo '${{ steps.selfTestDeleteTopics.outputs.urls_with_actions }}'
      - name: Check delete topics disabled
        run: |
          ./discourse_check_cleanup.py --action check-delete-topics --action-kwargs "{'expected_url_result': ['success', 'skip', 'success']}" '${{ steps.selfTestDeleteTopics.outputs.urls_with_actions }}' '${{ steps.selfTestDeleteTopics.outputs.discourse_config }}'
      - name: Delete the doc with delete_topics enabled
        run: rm docs/doc.md
      - name: Delete topics enabled self test
        id: selfTestDelete
        uses: ./
        with:
          discourse_host: discourse.charmhub.io
          discourse_api_username: ${{ secrets.DISCOURSE_API_USERNAME }}
          discourse_api_key: ${{ secrets.DISCOURSE_API_KEY }}
      - name: Show pages
        run: echo '${{ steps.selfTestDelete.outputs.urls_with_actions }}'
      - name: Check delete topics enabled
        run: |
          ./discourse_check_cleanup.py --action check-delete --action-kwargs "{'expected_url_result': ['success', 'success']}" '${{ steps.selfTestDelete.outputs.urls_with_actions }}' '${{ steps.selfTestDelete.outputs.discourse_config }}'
      - name: Clean up
        if: always()
        run: |
          ./discourse_check_cleanup.py --action cleanup '${{ steps.selfTestCreate.outputs.urls_with_actions }}' '${{ steps.selfTestCreate.outputs.discourse_config }}'
